body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #9FA6B2 !important;
}
/* 
#mybody{
  background-color: rgb(134, 113, 154);
} */ 
.products{
  display: flex;
  flex-direction: row;
}

#product_img{
  aspect-ratio: 3/2;
  object-fit: cover;
}